// =====FONT=====
@import '_fonts.scss';

// =====Variable=====
// @import 'variable/colors.scss';

// =====Components
// @import 'components/inputfile.scss';
// @import 'components/swiper-thumbs.scss';
// @import 'components/button.scss';

// @import 'components/bg-color.scss';
@import 'components/_input.scss';
// @import 'components/text-color.scss';
@import 'components/_footer.scss';
@import 'components/_image.scss';
// @import 'components/swiper-thumbs.scss';

@import 'pages/_auth.scss';

a.clear-style{
  text-decoration: none;
}

.card-price{
  font-size: 1.3em;
}
// .w-100{
//   width: 100%;
// }

// .lainnya{
//   width:100%;
//   height:250px;
//   background-color: rgb(95, 95, 95);
//   color:#fff;
// }

// .fa-star{
//   color: rgb(255, 208, 0);
// }
// .fa-star.unrate{
//   color: rgb(129, 129, 129);
// }
// .grow-1{
//   flex-grow: 1;
// }