@font-face {
  font-family: 'PlusJakartaSans';
  src: url(/font/PlusJakartaSans/PlusJakartaSans-Light.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url(/font/PlusJakartaSans/PlusJakartaSans-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url(/font/PlusJakartaSans/PlusJakartaSans-Medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url(/font/PlusJakartaSans/PlusJakartaSans-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url(/font/PlusJakartaSans/PlusJakartaSans-ExtraBold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: 'PlusJakartaSans' !important;
}

.video-add,
.img-add {
  position: relative;
  border: 1px solid #858796;
  border-style: dashed;
  padding: 5px;
  width: 100%;
  height: 220px;
}

.img-add.img-add-short {
  height: 200px;
}

.video-add {
  width: 100%;
  height: 200px;
}

.object-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.video-add video {
  background: url("/img/plus-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.custom-file-input {
  cursor: pointer;
}

.icon-plus {
  width: 40px;
  height: 40px;
}

.img-add > input[type="file"],
.video-add > input[type="file"] {
  display: none;
}

.video-add > label,
.img-add label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.password-wrapper {
  position: relative;
}

.visible {
  position: absolute;
  top: 1em;
  right: 1.5em;
}

footer .main-footer {
  border-top: 1px solid #e2e2ec;
  border-bottom: 1px solid #e2e2ec;
}

footer .btn-sosmed:hover {
  background-color: #fff;
  color: #f0a80d;
}

.footer-menu-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.footer-menu a.menu {
  text-decoration: none;
  display: block;
  margin-bottom: 1.25rem;
  color: #4e73df;
  font-weight: 500;
}

.footer-menu a.menu:hover {
  color: #224abe;
}

.w-100 {
  width: 100%;
}

.w-70 {
  width: 70%;
}

.img-responsive {
  object-fit: cover;
  background-position: center;
}

.banner-img {
  height: 350px !important;
  object-fit: cover;
  background-position: center;
}

.img-category {
  object-fit: cover;
  background-position: center;
}

.img-card-arena {
  width: 100%;
  height: 150px;
  object-fit: cover;
  background-position: center;
}

.bg-login {
  background: url("../img/bg_auth.png");
  background-size: cover;
}

.bg-register-image {
  background: url("../img/bg_auth.png");
  background-size: cover;
}

a.clear-style {
  text-decoration: none;
}

.card-price {
  font-size: 1.3em;
}
