

footer .main-footer {
  border-top: 1px solid #e2e2ec;
  border-bottom: 1px solid #e2e2ec;
}

footer .btn-sosmed:hover {
  background-color: #fff;
  color:#f0a80d;
}

.footer-menu-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.footer-menu a.menu {
  text-decoration: none;
  display: block;
  margin-bottom: 1.25rem;
  color: #4e73df;
  font-weight: 500;
}

.footer-menu a.menu:hover {
  color: #224abe;
}
