.video-add,
.img-add {
  position: relative;
  border: 1px solid #858796;
  border-style: dashed;
  padding: 5px;
  width: 100%;
  height: 220px;
}

.img-add.img-add-short{
  height: 200px;
}
.video-add {
  width: 100%;
  height: 200px;
}

.object-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.video-add video {
  background: url("/img/plus-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.custom-file-input {
  cursor: pointer;
}

.icon-plus{
  width: 40px;
  height: 40px;
}

.img-add > input[type="file"],
.video-add > input[type="file"] {
  display: none;
}

.video-add > label,
.img-add label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


// login & register

.password-wrapper {
  position: relative;
}

.visible {
  position: absolute;
  top: 1em;
  right: 1.5em;
}


